@charset "ISO-8859-1";

body{
	background-color: #b3ecff;
	padding: 5px none;
}

.header{
	width: 60%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #003d51;
	border-radius: 20px;
	color: white;
}

.website-name{
	font-size: 40px;
	margin: 5px auto;
	font-family: Montserrat;
}

.website-tagline{
	font-size: 15px;
	margin: 3px auto;
	font-family: Montserrat;
}

.container{
	width: 400px;
	height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(255,255,255,0.7);
	font-family: Montserrat;
	font-size: 22px;
	border: 3px solid black;
	border-radius: 10px;
	margin: 20px auto;
}

.btn{
	background-color: #4CAF50;
	border: none;
	outline: none;
	border-radius: 5px;
	color: white;
	padding: 10px 18px;
	text-align: center;
 	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin-top: 3px;
}

@media(max-width: 700px){
	.website-name{
	font-size: 30px;
	margin: 5px auto;
	font-family: Montserrat;
	}
	.website-tagline{
	font-size: 12px;
	margin: 3px auto;
	font-family: Montserrat;
	}
}